
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:'Courier New', Courier, monospace;
}

@font-face {
  font-family: "AdventureTime";
  src: url("./assets/fonts/atf.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


